h1 {
    color: whitesmoke;
    margin: 30px;
    border: 10px;
    border: solid;
    border: whitesmoke;
    border-style: groove;
}

h2 {
    color: whitesmoke;
}

body {
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
    font-family: palatino;
    font-style: normal;

}

div {
    padding: 50px;
    margin: 100px;
    border: 10px solid whitesmoke;
    text-align: center;
    background-attachment: fixed;
    
}


p {
    list-style: none;
    font-size: 25px 25px;
    color: white;
}


img {
    width: 600px;
    border: 5px solid whitesmoke;

}

#autor {
    text-transform: uppercase;
}
#rogerio{
    width: auto;
    height: auto;
}
#mn{
    width: auto;
    height: auto;

}
#alek{
    width: auto;
    height: auto;
}
#minecraft{
    height: 900px;
    width: 1000px;
    
}

.botao{
    border: solid 1px #231F20;
    border-radius: 13px;
    color: white;
    background-color: black;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    align-items: center;
    width: 24.8%;
    height: 30px;
    border-color: black;

}
.botao:hover{
    background-color: purple;
    color: white;
    transform: scale(1.2)
}
#lol{
    width:50px ;
    height:50px ;
    border: none;
    
}

*{
    margin: 0%;
    padding: 0%;
}
header{
    position: left;
    width: 100%;

    
}
footer{
    text-align: center;

}
#zé{
    text-align: center;
}
h1{
    text-align: center;
}
.ancoral{
    margin-left: 45px;
    margin-right: 45px;
}
